.navbar {
    background-color: var(--black-ish);
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1000;
    margin: 0 auto;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: border 0.3s ease, background-color 0.3s ease;
  }

.sticky {
  border: 2px solid var(--schtroumpf);
  border-top: transparent;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem 0;
  }
  
  .navbar a {
    color: var(--white-ish);
    text-decoration: none;
    font-size: 1.2em;
  }

  .navbar a:hover {
    color: var(--schtroumpf);
    text-decoration: none;
  }

  .navbar a.is-active {
    color: var(--schtroumpf);
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      width: 60%;
    }
  }
  